PRE OUTPUT

{{ pre.stdout | default("NO VAR PRE") }}

===========================

PATCHING OUTPUT

{{ patch.stdout | default("NO VAR PATCH") }}

===========================

POST OUTPUT

{{ post.stdout | default("NO VAR POST") }}
